mixin support()
	+b('section').support.support-write
		+box()
			+e.head
				+e('h2').heading.heading О наших проектах !{''}
					strong пишут...
			+e.body
				+container-33()
					- var data=getData('support')
					- var length = data.length
					- var n = 0
						while n < length
							+col-33()
								+support-card(data[n])
								- n++

	+b('section').support
		+box()
			+e.head
				+e('h2').heading.heading ... наши проекты !{''}
					strong поддерживают
			+e.body
				+container-33()
					+col-33()
						+support-card-small
						+support-card-small
					+col-33()
						+support-card-small
						+support-card-small
					+col-33()
						+support-card-small
						+support-card-small


mixin support-card(item)
	+b('section').support-card
		+e.head
			+e.logo
				+e('img')(src="http://dummyimage.com/180x40/4d494d/686a82.gif&text=placeholder+image",width="180",height="40", alt="placeholder+image").logo-img
		+e.body
			+e('p').text.link
				| !{item.title}
			+e.comment
				+e('a')(href=jv0).comment-link.link
					+icon('comment').comment-icon
					+e.comment-count.js-count
						| !{item.comments}

mixin support-card-small()
	+b('section').support-card-small
		+e.logo
			+e('img')(src="http://dummyimage.com/180x40/4d494d/686a82.gif&text=placeholder+image",width="180",height="40", alt="placeholder+image").logo-img
