mixin popup(args)
	+b.popup.mfp-hide(class=args.jsClass)
		+e('section').block
			if (args.type === 'what-is')
				+e('h2').heading !{args.heading} !{''}
					strong !{args.strong}
			else if (args.type === 'message')
				+e('h3').heading--small !{args.heading}
			else
				+e('h2').heading
					strong !{args.strong}
					|  !{args.heading}
			+e('article').article
				if (args.type === 'what-is')
					+e('p')
						| У вас есть идея? Идея технологического стартапа или творческая задумка, которая быстро найдет своих поклонников? Может быть социальный проект, который поможет сделать этот мир лучше?
						| Ищете финансовые средства для реализации? Вы нашли правильно место!
					+e('p')
						strong Улей
						span &nbsp;&mdash; первая и единственная в Беларуси реально работающая краудфандинговая платформа, которая позволяет получить финансирование для развития своего проекта от сотен и тысяч спонсоров, которые заинтересованы в реализации проекта или готовы сделать предзаказ товара или услуги.
					+e('p')
						em
							| Сама суть краудфандинга сводится к коллективному финансированию, когда большое количество людей, заинтересованных в проекте, поддерживают его деньгами.
					+e('p')
						| Получить средства может каждый, вне зависимости от возраста, социального статуса и сферы вашего проекта. Главное – это ваше желание и стремление реализовать свою мечту!
						| Кстати, если вы беспокоитесь за сохранность своей, мы полностью гарантируем конфиденциальность всей полученной от вас информации, о чем прописано в нашем !{''}
						a(href='http://ulej.by/agreement', target='_blank') соглашении
						| , ведь наша площадка заинтересована в реализации именно ВАШЕГО проекта не меньше, чем вы сами!
						| Хотите попробовать? Еще бы! Ведь вы абсолютно ничего не теряете!
						br
						a(href=jv0).js-open-send Оставляйте вашу заявку
						|  и наш менеджер свяжется с вами и подробно расскажет про все дальнейшие действия.
					+e('p')
						strong Мы ждем вас!
					+button({type:'button'}).btn--green.popup__message-btn.js-close-message-popup
						| Закрыть

				else if (args.type === 'message')
					+e('p').message-text
						| !{args.message}
					+button({type:'button'}).btn--green.popup__message-btn.js-close-message-popup
						| Отлично!

				else if (args.type === 'about-project')
					+e('p')
						| !{args.message}
					+e('p')
						strong !{args.author}
					+button({type:'button'}).btn--green.popup__message-btn.js-close-message-popup
						| Закрыть

				else if (args.type === 'callback')
					+e.form-wrap
						+b('form').form
							// .field-wrap — обычное состояние
							// .field-wrap.field--is-invalid — невалидное
							+e.field-wrap.field-wrap.field--is-invalid
								+e('input')(type='text',placeholder='Как вас зовут?',required='required').input.input.field.js-callback-name
							+e.field-wrap.field-wrap.field--is-invalid
								+e('input')(type='phone',placeholder='Номер телефона',required='required').input.input.field.js-callback-phone
							+button({type:'buttonSubmit'}).btn--green.form__submit-btn.js-callback-submit
								| Отправить
				else if (args.type === 'send')
					+e.form-wrap
						+e('p')
							| Все-таки у вас есть классный проект, который хочется реализовать. Мы ждем вас, отправляйте скорее! ;)
						+e('p')
							| Для того, чтобы начать, нужно всего лишь оставить заявку с кратким описанием проекта, после чего наш менеджер свяжется с вами и ответит на все вопросы.
						+b('form').form
							+e.field-wrap.field-wrap
								+e('input')(type='text',placeholder='Как вас зовут?',required='required').input.input.field.js-send-name
							+e.field-wrap.field-wrap
								+e('input')(type='text',placeholder='Контактный Email / Номер телефона',required='required').input.input.field.js-send-contacts
							+e.field-wrap.field-wrap
								+e('textarea')(placeholder='Несколько слов о проекте',required='required').textarea.textarea.field.js-send-project-info
							+e('p')
								strong Мы гарантируем конфиденциальность любой информации
								|  и вашей идеи, о чем написано в нашем !{''}
								a(href='http://ulej.by/agreement', target='_blank') соглашении.
							//- +button({type:'buttonSubmit'}).btn--green.form__submit-btn
							+button({type:'buttonSubmit'}).btn--green.form__submit-btn.js-send-submit
								| Отправить
