mixin popup(args)
	+b.popup.mfp-hide(class=args.jsClass)
		+e('section').block
			if (args.type === 'what-is')
				+e('h2').heading !{args.heading} !{''}
					strong !{args.strong}
			else if (args.type === 'message')
				+e('h3').heading--small !{args.heading}
			else
				+e('h2').heading
					strong !{args.strong}
					|  !{args.heading}
			+e('article').article
				if (args.type === 'what-is')
					+e('p')
						em
							| Суть краудфандинга сводится к коллективному финансированию, когда большое количество людей, заинтересованных в проекте, поддерживают его деньгами.
					+e('p')
						em
							| Улей&nbsp;&mdash; первая и единственная в Беларуси реально работающая краудфандинговая платформа, которая позволяет получить финансирование для развития своего проекта от сотен и тысяч спонсоров, которые заинтересованы в реализации проекта или готовы сделать предзаказ товара или услуги.
					+e('p')
						em
							strong
								| Какие идеи и проекты могут участвовать в финансировании? ЛЮБЫЕ! Технологический стартап, творческая задумка, социальный или бизнес проект.
					+e('p')
						em
							strong
								| Мы полностью гарантируем конфиденциальность всей полученной от вас информации, согласно нашему !{''}
								a(href='http://ulej.by/agreement', target='_blank') соглашению
								| !»
					+button({type:'button'}).btn--green.popup__message-btn.js-close-message-popup
						| Закрыть

				else if (args.type === 'message')
					+e('p').message-text
						| !{args.message}
					+button({type:'button'}).btn--green.popup__message-btn.js-close-message-popup
						| Отлично!

				else if (args.type === 'about-project')
					+e('p')
						| !{args.message}
					+e('p')
						strong !{args.author}
					+button({type:'button'}).btn--green.popup__message-btn.js-close-message-popup
						| Закрыть

				else if (args.type === 'callback')
					+e.form-wrap
						+b('form')(method='post', action='', autocomplete='off').form#callback-form
							// .field-wrap — обычное состояние
							// .field-wrap.field--is-invalid — невалидное
							+e.field-wrap.field-wrap
								+e('input')(type='text', name='name', required, placeholder='Как вас зовут?').input.input.field.js-callback-name
							+e.field-wrap.field-wrap
								+e('input')(type='phone', name='phone', required, placeholder='Номер телефона').input.input.field.js-callback-phone
							+button({type:'buttonSubmit'}).btn--green.form__submit-btn.js-callback-submit
								| Отправить
				else if (args.type === 'send')
					+e.form-wrap
						+e('p')
							| Мы гарантируем конфиденциальность всей предоставленной информации, о чем написано в нашем !{''}
							a(href='http://ulej.by/agreement', target='_blank') соглашении
							| .
						+b('form')(method='post', action='', autocomplete='off').form#send-form
							+e.field-wrap.field-wrap
								+e('input')(type='text', name='name', required, placeholder='Как вас зовут?').input.input.field.js-send-name
							+e.field-wrap.field-wrap
								+e('input')(type='text', name='contact', required, placeholder='Контактный Email / Номер телефона').input.input.field.js-send-contacts
							+e.field-wrap.field-wrap
								+e('textarea')(name='description', required, placeholder='Несколько слов о проекте').textarea.textarea.field.js-send-project-info
							+button({type:'buttonSubmit'}).btn--green.form__submit-btn.js-send-submit
								| Отправить
