include ../button/button

mixin projects()
	+b('section').projects
		+content()
			+box()
				+e.inner
					i.projects-top-hexagon
					+e('section').tiles.js-project-tiles
						-var data = getData('hexagons-adapted'), n = 0
						+e.tiles-row.tiles-row-1
							+e.tiles-row__inner
								while n < 7
									+tile({"count":n+1,"data":data[n]})
									- n++
						+e.tiles-row.tiles-row-2
							+e.tiles-row__inner
								while n < 14
									+tile({"count":n+1,"data":data[n]})
									- n++
								i.projects-right-hexagon
						+e.tiles-row.tiles-row-3
							+e.tiles-row__inner
								while n < 18
									+tile({"count":n+1,"data":data[n]})
									- n++
						+e.tiles-row.tiles-row-4
							+e.tiles-row__inner
								while (n < 22)
									+tile({"count":n+1,"data":data[n]})
									- n++

						//- +e('section').promo
						//- 	+e.text
						//- 		| Ваши проекты и
						//- 		br
						//- 		| идеи уже сейчас могут
						//- 		br
						//- 		| получить финансирование
						//- 	+e.button-wrap
						//- 		+button().btn--green-hexagon.js-open-send
						//- 			| Заявить о себе
						//- 			+icon('mail').mail-icon

						+e('section').promo
							+e.text
								| Ваши проекты и
								br
								| идеи уже сейчас могут
								br
								| получить финансирование
							+e.button-wrap
								+e('svg')(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='186', height='40', viewbox='0 0 186 40').btn-send
									a(xlink:href=jv0, target='_blank').js-open-send
										g(fill='none', fill-rule='evenodd')
											path(fill='currentColor', d='M184.283 22.838l-8.195 14.326c-.505.882-1.226 1.594-2.072 2.084-.53.468-1.223.754-1.985.754H13.83c-2.01 0-3.866-1.082-4.87-2.838L.76 22.838c-1.004-1.756-1.004-3.92 0-5.675L8.957 2.838C9.96 1.082 11.817 0 13.827 0h16.39l.03.002h124.55l.03-.002h16.39l.03.002h.784c.76 0 1.45.284 1.98.748.85.49 1.574 1.203 2.08 2.088l8.195 14.325c1.004 1.756 1.004 3.92 0 5.675z')
											text(x='14', y='26').projects__btn-send__text
												| Заявить о себе
											path(fill='#FFF', d='M158.227 21.58l6.364 5.093c-.23.202-.54.327-.882.327h-15.412c-.344 0-.656-.124-.888-.325l6.367-5.094L156 23.4l2.227-1.82zM156 22.2l-8.59-6.873c.23-.202.542-.327.884-.327h15.412c.344 0 .656.123.888.325L156 22.2zm9 3.823l-6.213-4.928L165 16.05v9.973zm-18 0v-9.97l6.213 5.042L147 26.023z')



mixin tile(args)
	+b.tile(class='tile-'+args.count).js-tile
		+e('svg')(width='200', height='218', xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink").element
			+e('a')(width='200', height='218', x='0', y='0', xlink:href=jv0).link.js-open-send
				image(width=args.data.width, height=args.data.height, x="0", y="0", data-adaptive-background, cross-origin="anonymous", xlink:href='./assets/images/'+args.data.href).tile__image
				rect(fill=args.data.bgColor, width='200', height='218', opacity='.7').tile__fill.js-tile-fill
		+e('a')(href=jv0).text.is-hidden.js-tile-text.js-open-send
			+e.text-inner-wrap
				+e.text-inner
					| !{args.data.text}
			+e('svg')(width='18', height='12', viewbox='0 0 18 12').mail-icon
				path(fill='currentColor', d='M11.227 6.58l6.364 5.093c-.23.202-.54.327-.882.327H1.294c-.344 0-.656-.124-.888-.325L6.773 6.58 9 8.4l2.227-1.82zM9 7.2L.41.327C.64.125.95 0 1.293 0h15.412c.344 0 .656.123.888.325L9 7.2zm9 3.823l-6.213-4.928L18 1.05v9.973zm-18 0v-9.97l6.213 5.042L0 11.023z')

