include ../button/button

mixin projects()
	+b('section').projects
		+e.head
			+e('h2').heading
				| Уже есть !{''}
				strong идея
				| ?!{''}
				br
				| Мы поможем привлечь !{''}
				strong деньги
				| !
		+content()
			+box()
				+e.inner
					+e('section').tiles-wrap
						+e('section').tiles.js-project-tiles
							-var data = getData('hexagons-adapted'), n = 0
							+e.tiles-row.tiles-row-1
								+e.tiles-row__inner
									while n < 7
										+tile({"count":n+1,"data":data[n]})
										- n++
							+e.tiles-row.tiles-row-2
								+e.tiles-row__inner
									while n < 14
										+tile({"count":n+1,"data":data[n]})
										- n++
									i.projects-right-hexagon
							+e.tiles-row.tiles-row-3
								+e.tiles-row__inner
									while (n < 21)
										+tile({"count":n+1,"data":data[n]})
										- n++

mixin tile(args)
	+b.tile(class='tile-'+args.count).js-tile
		+e('svg')(width='200', height='218', xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink").element
			+e('a')(width='200', height='218', x='0', y='0', xlink:href=jv0, clip-path="url(#clipping-tile)").link.js-open-send
				image(width=args.data.width, height=args.data.height, x="0", y="0" xlink:href='./assets/images/'+args.data.href).tile__image
				rect(fill=args.data.bgColor, width='200', height='218', opacity='.7').tile__fill.js-tile-fill
		+e('a')(href=jv0).text.is-hidden.js-tile-text.js-open-send
			+e.text-inner-wrap
				+e.text-inner
					| !{args.data.text}
			+e('svg')(width='18', height='12', viewbox='0 0 18 12').mail-icon
				path(fill='currentColor', d='M11.227 6.58l6.364 5.093c-.23.202-.54.327-.882.327H1.294c-.344 0-.656-.124-.888-.325L6.773 6.58 9 8.4l2.227-1.82zM9 7.2L.41.327C.64.125.95 0 1.293 0h15.412c.344 0 .656.123.888.325L9 7.2zm9 3.823l-6.213-4.928L18 1.05v9.973zm-18 0v-9.97l6.213 5.042L0 11.023z')

